* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

.align-page-setup {
    min-width: 440px;
    max-height: 440px;
}

.align-container {
    position: absolute;
    z-index: 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid red;
}

.flex-container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.button-container {
    margin: 10px;
    border: 2px solid yellow;
}

.button-element {
    width: 200px;
    height: 200px;
}