* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: 'Righteous', cursive;
}

.board {
  max-width: 520px;
  min-width: 520px;
  max-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  background: #324ea2;
  border: 10px solid #29469c;
  border-radius: 10px;
}


.connect-four {
  display: flex;
  flex-direction: column;
  background: #22346e;
  color: aliceblue;
  height: 600px;
  margin-top: 20px;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 500px;
  margin: 5px;
}

.empty {
  background: #283a77;
  border: 5px solid #2a44a0;
}

.red {
  background: linear-gradient(-90deg, rgb(152, 17, 17), #e31111) padding-box,
              linear-gradient(90deg, rgb(152, 17, 17), #e31111) border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  border: 8px solid transparent;
  border-radius: 50px;
  
}

.yellow {
  background: linear-gradient(-90deg, #ff8400, #e8c900) padding-box,
              linear-gradient(90deg, #ff8400, #e8c900) border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  border: 8px solid transparent;
  border-radius: 50px;
}

body {
  margin: 0;
  background-color: rgb(35, 34, 65);
}
h1 {
  padding-top: 10px;
  margin: 0;
}
.row:hover{
  background-color: black;
}

/* frame container */
.frame-container {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* flex elements */
.flex-container {
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.first-content, .second-content { min-width: 25%; height: 100%; }
.board-content { 
  max-width: 50%; 
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

/* header elements */
.header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  position: relative;
}

.head-content { 
  padding: 20px; 
  
}
.head-content p { 
  font-size: 15px; 
  color: rgba(255,255,255,0.9);
}

.head-content h1 {
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(255,255,255,0.7);
}

.head-logo > img {
  width: 70px;
  height: 70px;
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* first elements */
.status-elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: fit-content;
}

.status-elements > div {
  margin: 30px 5px;
}


.player-1-icon, .player-2-icon {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 100%;
}

.player-1-details, .player-2-details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.p1-time, .p2-time {
  width: 150px;

  color: white;
  text-align: center;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}

.p1-hp, .p2-hp {
  margin-top: 3px;
  width: 150px;
  height: 5px;
  background: rgb(40, 196, 45);
  border-radius: 1px;
}


/* betal elements */
.betal-elements {
  position: relative;
  height: fit-content;
}

.betal-standy {
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 520px;
  align-items: center;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.betal-flex {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 500px;
  padding: 16px 0 65px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.betal-flex > div {
  width: 100px;
  height: 20px;
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.p-red {
  background-image: url('../images/red-betal.png');
}
.p-yellow {
  background-image: url('../images/yellow-betal.png');
}

/* HEAD SECTION
   contains basic elements to do some of common functions, and these
   will effect to whole site. it mean it doesn't cause to particular
   player. 

   list of elements inside:
    - music               [button](toggle on/off)
    - background changer  [button](selector alert popup)
    - reset               [button](active action)
    - informations        [button](alert popup)
 */

 .header {
  position: fixed;
  z-index: 11;

  height: fit-content;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  background:rgb(24, 23, 45);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
 }

 .button-container { position: relative; }

 .button-container > button {
  width: 60px;
  height: 50px;
  margin: 5px;

  background:rgb(31, 31, 51);
  border: 5px solid rgb(21, 21, 37);
  border-radius: 5px;
 }

 .button-container > button:hover {
  background:rgb(65, 65, 107);
  border: 5px solid rgb(189, 189, 189);
  border-radius: 5px;
 }

 .header-element-popup {
  position: absolute;

  width: 250px;
  padding: 10px;
  top: 195%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(196, 196, 196);
  background: rgb(31, 31, 51);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
 }

 .button-container > button:hover + .header-element-popup {
  visibility: visible;
  opacity: 1;
 }
 .how-to-class li{
  text-align: left;
  padding-bottom: 12px;
 }
 .how-to-class ul{
  margin-left: 25px;
 }
.how-to-class{
  list-style-type: circle;
  overflow: inherit;
}