*{
  margin : 0;
  padding:0;
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
}


.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* This is the beginning background animation part */
/* You can change the color of it by changing background in "circle li" class */
.circles {
        overflow: hidden;
        /* border-radius: 30px; */
        background: #232241;
        width: 100%;
        height: 100vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
        
.circles li {
        position: relative;
        list-style: none;
        width: 20px;
        height: 20px;
        background: white;
        animation: animate 15s linear infinite;
        bottom: -100%;
        left: -80%;
    }
        
.circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
        
.circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
        
.circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
        
.circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
        
.circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
    }
        
.circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
    }
        
.circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
    }
        
.circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
    }
        
.circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
    }
        
.circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
    }
        
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/* This is the end of background animation part */


.title-base{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 700;
    color:white;
}

.title-rgb{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    right: 428px;
    background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
    background-size: 400%;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: text-animate 8s linear;
    animation-iteration-count: infinite;
}
.start-game-button{
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    transition: 0.2s;
    background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
    background-size: 400%;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: text-animate 8s linear;
    animation-iteration-count: infinite;
}
.start-game-button:hover{
    background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
    background-size: 400%;
    font-size: 45px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes text-animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.subtitle{
    position: absolute;
    top: 41%;
    transform: translateY(-41%);
    transform: rotate(-25deg);
    right: 20%;
    background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
    background-size: 400%;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: subtitle-animate 1s linear;
    animation-iteration-count: infinite;
}
@keyframes subtitle-animate{
    0%{
        font-size: 15px;
    }
    50%{
        font-size: 20px;
    }
   
}


