*{
    font-family: 'Righteous', cursive;
    margin : 0;
    padding:0;
    margin: 0px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h1,h5,a,p.history-game-button{
    font-family: 'Press Start 2P', cursive;
  }
  .main-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
  }
  
  .title-base{
      position: absolute;
      top: 40%;
      transform: translateY(-40%);
      font-size: 70px;
      letter-spacing: 5px;
      font-weight: 700;
      color:white;
      transition: 0.3s;
      
  }
  
  .title-rgb{
      position: absolute;
      top: 39%;
      transform: translateY(-40%);
      /* right: 428px; */
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 70px;
      letter-spacing: 5px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: text-animate 8s linear;
      animation-iteration-count: infinite;
  }
  .start-game-button{
      position: absolute;
      top: 55%;
      transform: translateY(-55%);
      transition: 0.2s;
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: text-animate 8s linear;
      animation-iteration-count: infinite;
  }
  .start-game-button:hover{
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 45px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
  }
  .continue-game-button{
      position: absolute;
      top: 62%;
      transform: translateY(-62%);
      transition: 0.2s;
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: text-animate 8s linear;
      animation-iteration-count: infinite;
  }
  .continue-game-button:hover{
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 45px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
  }
  .history-game-button{
      position: absolute;
      top: 69%;
      transform: translateY(-69%);
      transition: 0.2s;
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: text-animate 8s linear;
      animation-iteration-count: infinite;
      cursor: pointer;
  }
  .history-game-button:hover{
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 45px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
  }
  
  @keyframes text-animate{
      0%{
          background-position: 0%;
      }
      100%{
          background-position: 400%;
      }
  }
  
  .subtitle{
      position: absolute;
      top: 41%;
      transform: translateY(-41%);
      transform: rotate(-25deg);
      right: 20%;
      background:linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff);
      background-size: 400%;
      font-size: 15px;
      letter-spacing: 5px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      animation: subtitle-animate 1s linear;
      animation-iteration-count: infinite;
      display: none;
  }
  @keyframes subtitle-animate{
      0%{
          font-size: 15px;
      }
      50%{
          font-size: 20px;
      }
     
  }
  /* ---------------------------History-Display-Part--------------------------- */
  .history-display-class .container{
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
      font-size: larger;
      height: 125px;
      text-align: left;
  }
  .match-item{
      margin: 10px 0px 0px 0px;
  }
  
  
  